/* You can add global styles to this file, and also import other style files */
@import "src/app/styles/variables";


* {
  //color: white;
  font-family: $font;
  font-weight: 300;
  font-size: 16px;
}

html, body {
  overflow-x: hidden;
  user-select: none;
}

html, body {
  height: 100%;
  background-color: #f2f2f4;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


span.name {
  color: $secondary-color;
  font-family: $font-title;
  font-weight: normal;
}
